################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpEgitimKampi301/.vs/CSharpEgitimKampi301
